In [16]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [17]:
df = pd.read_csv("../data/processed/forbes_definitive.csv", index_col = 0)

In [18]:
df

,id,worth (BUSD),worthChage (millions USD),realTimePosition,name,position,area,source,age,gender,country
0,3033,112.0,0.000,1,Jeff Bezos,1,Technology,Amazon,55.0,M,United States
1,3381,90.0,-0.001,2,Bill Gates,2,Technology,Microsoft,64.0,M,United States
2,2949,84.0,-0.002,3,Warren Buffett,3,Finance and Investments,Berkshire Hathaway,89.0,M,United States
3,7380,72.0,0.000,4,Bernard Arnault,4,Fashion & Retail,LVMH,70.0,M,France
4,6568,71.0,0.000,5,Mark Zuckerberg,5,Technology,Facebook,35.0,M,United States
...,...,...,...,...,...,...,...,...,...,...,...
2208,9856,1.0,0.000,2134,Zhao Xiaoqiang,2204,Fashion & Retail,"fashion, entertainment",52.0,M,China
2209,5033,1.0,NaN,2134,Zhou Liangzhang,2205,Manufacturing,electrical equipment,57.0,M,China
2210,6612,1.0,0.000,1856,Zhu Xingming,2206,Manufacturing,electrical equipment,52.0,M,China
2211,8969,1.0,0.000,1978,Zhuo Jun,2207,Manufacturing,printed circuit boards,54.0,F,Hong Kong
2212,1353,1.0,NaN,1978,Olgun Zorlu,2208,Diversified,diversified,56.0,M,Turkey

In [19]:
countries = list(set(df.country.to_list()))

In [20]:
countries = list(map(lambda x: x.lower().replace(' ', '-') if type(x) == str else None, countries))

In [21]:
countries

['mexico',
 None,
 'iceland',
 'kuwait',
 'germany',
 'canada',
 'vietnam',
 'denmark',
 'kazakhstan',
 'russia',
 'austria',
 'new-zealand',
 'georgia',
 'switzerland',
 'taiwan',
 'tanzania',
 'lebanon',
 'morocco',
 'ireland',
 'india',
 'china',
 'monaco',
 'st.-kitts-and-nevis',
 'south-korea',
 'zimbabwe',
 'oman',
 'venezuela',
 'france',
 'sweden',
 'philippines',
 'united-kingdom',
 'finland',
 'poland',
 'czech-republic',
 'norway',
 'hong-kong',
 'malaysia',
 'nigeria',
 'egypt',
 'thailand',
 'liechtenstein',
 'brazil',
 'slovakia',
 'belgium',
 'portugal',
 'ukraine',
 'turkey',
 'united-states',
 'indonesia',
 'chile',
 'south-africa',
 'united-arab-emirates',
 'argentina',
 'macau',
 'hungary',
 'algeria',
 'japan',
 'israel',
 'greece',
 'netherlands',
 'australia',
 'swaziland',
 'cyprus',
 'peru',
 'guernsey',
 'spain',
 'italy',
 'nepal',
 'romania',
 'singapore',
 'qatar',
 'colombia']

In [22]:
url = "https://countryeconomy.com/countries/"

In [23]:
df1 = pd.read_html(url+countries[1], attrs = {'class': 'table tabledat table-striped table-condensed table-hover'})[0]

TypeError: can only concatenate str (not "NoneType") to str

In [24]:
df1.drop(1, axis = 1,  inplace=True)

NameError: name 'df1' is not defined

In [ ]:
df1 = df1.T

In [10]:
df1.columns = df1.iloc[0]

NameError: name 'df1' is not defined

In [11]:
df1["Country"] = countries[1]

NameError: name 'df1' is not defined

In [12]:
df1 = df1.drop(0).drop("Gouvernement", axis = 1)

NameError: name 'df1' is not defined

In [13]:
df1

NameError: name 'df1' is not defined

In [14]:
df1.loc[:, ["Annual GDP [+]", "GDP per capita [+]"]].iloc[:, [1, 3]]

NameError: name 'df1' is not defined

In [15]:
def web_scrap_economic(url, country):
    df1 = pd.read_html(url + country, attrs = {'class': 'table tabledat table-striped table-condensed table-hover'})[0]
    df1.drop(1, axis = 1,  inplace=True)
    df1 = df1.T
    df1.columns = df1.iloc[0]
    df1 = df1.drop(0).drop("Gouvernement", axis = 1)
    return_df = df1.loc[:, ["Annual GDP [+]", "GDP per capita [+]"]].iloc[:, [1, 3]]
    return return_df

In [206]:
countries_df = pd.DataFrame()
country_col = []
for i in range(1, len(countries)):
    try: 
        df1 = web_scrap_economic(url, countries[i])
    except:
        continue
    country_col.append(countries[i])
    countries_df = pd.concat([countries_df, df1], sort = False)
countries_df["Country"] = country_col
countries_df

0  Annual GDP [+] GDP per capita [+]         Country
2      118,534M.$             3,366$         morocco
2    1,712,479M.$            46,290$          canada
2        6,401M.$           167,125$          monaco
2        4,704M.$             4,140$       swaziland
2      362,721M.$            48,451$       hong-kong
..            ...                ...             ...
2      274,210M.$            49,738$         finland
2      504,928M.$             7,448$        thailand
2    1,222,053M.$             9,797$          mexico
2       79,277M.$            18,970$            oman
2      245,226M.$            23,113$  czech-republic

[68 rows x 3 columns]

In [207]:
countries_df["Country"] = countries_df.Country.str.replace("-", " ").str.title()

In [1]:
countries_df.loc[df["Country"] == "Usa"]

NameError: name 'countries_df' is not defined

In [209]:
countries_df.to_csv("../data/processed/economic_values.csv")